{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <h1>Página no encontrada</h1>
  <p>¿Quizá estés buscando alguna de estas páginas?</p>

  <h2>Posts recientes</h2>
  {{ range last 20 (where .Data.Pages "Section" "=" "post") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}

  <h2>Publicaciones recientes</h2>
  {{ range last 20 (where .Data.Pages "Section" "=" "publication") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
